/** @format */

@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

/* #myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
} */
.embed-responsive-item {
  position: relative;
  height: 0;
  overflow: hidden;
  z-index: 1;
  /* padding-top: 30px; */
  padding-bottom: 56.25%;

}

.embed-responsive-item iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height:100%;
  width: 100%;
  pointer-events: none;
      margin: auto

}

.banner-head-ongoing {
  position: relative;
  z-index: 1;
}
.banner-head-ongoing img {
  height: auto;
  width: 100%;
}
.logo-under-add {
  margin-top: 15px;
  text-align: center;
}
.logo-under-add p {
  margin-left: 45px;
}
.rera_tag {
}

.content-head {
  font-family: 'Italianno', sans-serif;
  position: absolute;
  top: 32%;
  right: 7%;
  width: 28%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  height: 150px;
  margin: auto;
}
.content-head h2 {
  font-weight: 700;
  font-size: 45px;
  margin: auto;
  margin-top: -10px;
}
.content-head p {
  font-size: 17px;
  font-weight: 700;
  color: #212529 !important;
  line-height: 24px;
  font-family: 'poppins';
  font-style: italic;
}
.header-style {
  color: aliceblue;
  font-family: 'poppins', sans-serif;
  font-size: 50px;
  margin: 20px auto;
  vertical-align: middle;
}
.elevation-1 .img-fluid {
  border: 4px solid #fff;
}
.elevation img {
  width: 100%;
  height: 100%;
}
.isomatrix img {
  width: 100%;
  height: 100%;
  margin: auto;
  border: 4px solid aqua;
}
.isomatrix-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.layout-details ul {
  text-align: left;
  color: white;
  text-decoration: none;
  list-style: none;
  font-size: 28px;
}
.layout-details h2 {
  color: aliceblue;
  text-align: left;
}
.layout-details ul:last-child {
  font-size: 18px;
  line-height: 15px;
}
.layout-details ul:last-child li::before {
  content: '';
  border-color: transparent aqua;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 15px;
  position: relative;
}
.schedule {
  width: 75%;
  margin: 10px auto 5px auto;
  box-shadow: 0 4px 7px 0 rgb(49 196 190 / 75%);
}
.line-through {
  text-decoration: line-through;
}
.Amenities {
  text-align: center;
  margin-bottom: 35px;
}
.Amenities h2 {
  margin-bottom: -20px;
  color: aliceblue;
  font-family: 'Italianno', sans-serif;
  font-size: 75px;
}
.Amenities p {
  font-family: 'Popping', sans-serif;
  font-weight: 500;
  font-size: 17px;
}
.Amenities h2 span {
  font-size: 40px;
  color: aqua;
}
.Amenities-1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Amenities-1 .image-wrap {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 0 16px;
  flex: 1 1 16.66%;
  max-width: 16.66%;
  margin: 10px auto;
}
.Amenities-1 .image-wrap::before {
  content: '';
  position: absolute;
  background: aqua;
  top: 30px;
  bottom: 30px;
  left: 0;
  right: calc(100% - 6px);
}
.Amenities-1 .last-wrap::after {
  content: '';
  position: absolute;
  background: aqua;
  top: 30px;
  bottom: 30px;
  left: calc(100% - 6px);
  right: 0;
}
.Amenities-1 .image-wrap .img-fluid {
  margin-bottom: 15px;
  height: 110px;
}
.Amenities-1 .image-wrap h3 {
  font-size: 14.5px;
  font-family: 'poppins', sans-serif;
  color: #fff;
}

.vertical-pipe {
  margin: auto 15px;
  color: aliceblue;
  font-size: 100px;
  vertical-align: middle;
}
.vertical-pipe img {
  margin: auto;
}
.locality {
  text-align: center;
  margin-bottom: 50px;
}
.locality h2 {
  color: aliceblue;
  font-family: 'Italianno', sans-serif;
  font-size: 75px;
}
.locality h2 span {
  font-size: 40px;
  color: aqua;
}
.locality ul li {
  color: aliceblue;
  list-style: none;
  font-size: 20px;
  /* font-style: italic; */
  text-align: left;
}
.locality ul li span {
  color: aqua;
}
.highlight-tag {
  margin: 15px auto;
  font-size: 22px;
  font-style: italic;
}
.download {
  text-decoration: none;
  padding: 12px;
  width: 260px;
  margin: 25px auto;
}
.download:hover {
  color: #fff;
}

.Enquiry {
  text-align: center;
  background-color: cadetblue;
  max-width: 75%;
  margin: auto;
  margin-top: 20px;
}

.enquiry-form {
  max-width: 75%;
  margin: auto;
  padding-bottom: 20px;
  text-align: left;
}
.enquiry-form label {
  font-size: 20px;
  font-weight: 600;
  color: rgb(27, 99, 99);
}

@media (max-width: 575.5px) {
  .banner-head-ongoing img {
    height: 250px;
  }
  .content-head h2 {
    font-weight: 700;
    font-size: 13px;
    margin: auto;
  }
  .content-head p {
    font-size: 6px;
    font-weight: 700;
    line-height: 7.5px;
    margin-bottom: 6px;
  }
  .Amenities-1 .image-wrap {
    flex: 1 1 50%;
    min-width: 50%;
  }
  .Amenities-1 .last-wrap-1::after {
    content: '';
    position: absolute;
    background: aqua;
    top: 30px;
    bottom: 30px;
    left: calc(100% - 6px);
    right: 0;
  }
  .layout-details ul{
    font-size: 25px;
  }
  .schedule {
    margin: 20px auto 5px auto;
  }
  .Enquiry {
    max-width: 100%;
  }

/* .embed-responsive-item iframe {
    height: calc(100% + 0px);
} */
}
@media (min-width: 575.5px) and (max-width: 786px) {
  .content-head {
    height: 200px;
  }
  .content-head h2 {
    font-size: calc(1.325rem + 0.1vw);
  }
  .content-head p {
    font-size: 8px;
    line-height: 9px;
  }
}
@media (min-width: 786px) and (max-width: 975px) {
  .content-head {
    height: 250px;
  }
  .content-head h2 {
    font-size: 25px;
  }
  .content-head p {
    font-size: 12px;
    line-height: 12px;
  }
}
@media (min-width: 975px) and (max-width: 1024px) {
  .content-head {
    height: 250px;
  }
  .content-head h2 {
    font-size: 30px;
  }
  .content-head p {
    font-size: 15px;
    line-height: 15px;
  }
}
