/** @format */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,300&display=swap');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9?styles=49034,49032,49044');
.banner-sec img {
  position: relative;
  text-align: center;
  object-fit: cover;
  height: 100vh;
  width: 100%;
}
.banner-tag {
  position: absolute;
  bottom: 0px;
  top: 20%;
  right: 5%;
  /* text-align: center; */
  font-family: 'Poppins';
}
.banner-tag .tags img {
  width: 300px;
}

.tag-button {
  width: 200px;
  font-size: 20px;
  font-weight: 600;
 color: var(--white-gray);
  cursor: pointer;
  /* margin: 20px; */
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  background-image: linear-gradient(
    to right,
    #25aae1,
    #40e495,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.tag-button:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.tag-button:focus {
  outline: none;
}
.funfacts-inner {
  text-align: center;
}
.contain-border {
  border: 2px solid #00a0e3;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin:10px auto;
  height: 120px;
  width: 45%;
}

.single-funfacts {
  color: #fff;
}
.funfacts-style-two h3 {
  font-weight: 900;
  vertical-align: middle;
  margin-top: 10px;
  margin-bottom: -2px;
  font-size: 30px;
}
.funfacts-style-two p {
  font-size: 20px;
}
.odometer-value {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 700;
  color: var(--white-gray)
}
.odo-text {
  font-size: 25px;
  font-family: 'Poppins';
  vertical-align: middle;
  color: aqua;
}
.testimonial {
  font-weight: 600;
  text-align: center;
  margin: 15px auto 30px auto;
}
.testimonial h5 span{
  color: #101c81;
}

.banner-sec1 {
  width: 100%;
  height: auto;
  position: relative;
}
.Shiv_tag {
  color: #fff;
  font-family: 'Poppins';
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}
.shiv_logo {
  height: auto;
  width: 300px;
}
.shiv-btn {
  box-shadow: 2px 1px 3px 2px rgb(37 98 104);
  background-image: linear-gradient(
    to right,
    #54cfdd,
    #2ca1af,
    #3fb2bf,
    #54cfdd
  );
  border-radius: 10px;

  font-size: 25px;
}
.shiv-btn:hover {
  background-image: linear-gradient(
    to left,
    #f29b3e,
    #2ca1af,
    #3fb2bf,
    #54cfdd
  );
  background-position: 100% 0;
}
.home-about-sec{
  text-align: center;
  padding: 15px;
  width: 100%;
}

/*start fade animation */
.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.animated img {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
}
.animated h2 {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.animated button {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInLeft,
img,
h2,
button {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
/* end fade animation */

/* start owl carousel */
/* .carousel {
  border-image: linear-gradient(#00a0e3, #29b974, #29b974, #00a0e3) 30;
  border-style: solid;
  border-width: 10px;
  border-radius: 15px;
  margin-top: -20px;
} */
.head-title {
  color: var(--white-gray);
}

.react-multi-carousel-track .react-multi-carousel-item {
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
  margin-top: -40px;
}

.react-multi-carousel-track .react-multi-carousel-item .card {
  padding: 10px;
  position: relative;
  background-color:#f8f9fa;
}

.react-multi-carousel-track .react-multi-carousel-item img {
  height: 350px;
  object-fit: cover;
  border-radius: 6px;
  width: 100%;
}

.react-multi-carousel-track .react-multi-carousel-item .card .name {
  position: absolute;
  bottom: -20px;
  left: 20%;
  right: 20%;
  text-align: center;
  color: #101c81;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: aquamarine;
  padding: 0.3rem 0.4rem;
  border-radius: 5px;
  box-shadow: 2px 3px 15px #3c405a;
}

.react-multi-carousel-track .react-multi-carousel-item .card {
  opacity: 0.2;
  transform: scale3d(0.8, 0.8, 0.8);
  transition: all 0.3s ease-in-out;
}
.react-multi-carousel-track .react-multi-carousel-item--active .card {
  opacity: 1 !important;
  transform: scale3d(1, 1);
}

.react-multi-carousel-list .custom-dot-list-style {
  /* display: inline-block; */
  width: 100%;
  text-align: center;
}
.react-multi-carousel-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  display: inline-block;
  zoom: 1;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}
.custom-dot-list-style {
  text-align: center;
  display: inline-block;
  width: 100%;
}
.custom-dot-list-style .react-multi-carousel-dot button {
  height: 13px;
  width: 13px;
  background: #2a6ba3;
  border-radius: 2px !important;
  opacity: 0.8;
  border: none;
  margin-right: 15px;
  margin-bottom: 20px;
}

.custom-dot-list-style
  .react-multi-carousel-dot.react-multi-carousel-dot--active
  button,
.custom-dot-list-style .react-multi-carousel-dot button:hover {
  height: 16px;
  width: 16px;
  opacity: 1;
  transform: translateY(2px);
  background: aquamarine !important;
}
/* @media (max-width:475px) {
  .funfacts-style-two p {
    max-width: 135px;
}

}
@media (max-width:406px ) {
  .funfacts-style-two p {
    min-width: 135px;
}
} */

@media (max-width: 575.5px) {
  .contain-border {
    height: 180px;
  }
  .banner-tag {
    position: relative;
    text-align: center;
    margin-left: 65px;
  }
  .odo-text {
    font-size: 20px;
  }

  .banner-tag .tags {
    padding: 20px;
  }
  .banner-tag .tags img {
    width: 190px;
  }
  .banner-tag .tags h2 {
    padding: 15px 0px !important;
    color: var(--white-gray);
    text-align: center;
  }
  .banner-tag .tags button {
    width: 150px;
    height: 40px;
  }
  .carousel {
    border: none;
  }
  .shiv_logo {
    width: 270px;
  }
  .Shiv_tag {
    font-size: 20px;
  }
  .shiv-btn {
    width: 170px;
    height: 50px;
    font-size: 25px;
  }
}
/* end owl carousel */
