/** @format */

.navbar {
  position: absolute;
  width: 100%;
  z-index: 1;
  font-family: 'Poppins' !important;
  font-weight: 500;
  background-color: #ffffff00;
}
.navbar-brand img{
width: 150px;
}

@media (max-width: 575.5px) {
  .navbar-brand img{
width: 100px;
}
}