body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html{
--white-gray:#f8f9fa;
}
p{
  color: var(--white-gray) !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00a0e3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #29b974;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f29b3e;
}
html {
  scroll-behavior: smooth;
}

.Coming-soon{
position: relative;
text-align: center;
align-items: center;
height: 100vh;
}
.Coming-soon-content{
  position: absolute;
  top: 40%;
  left: 30%;
  right: 30%;
}